# Ignore downloaded dependencies
node_modules/
bower_components/
www/js/vendor/

# Ignore packaged distributable
dist/
build/

# Cordova stuff I don't understand
plugins/
platforms/
hooks/

# Ignore assets so they're not in source control
# They have their own licensing issues
assets/
