<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.icbat.squareSquared" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>squareSquared</name>
    <description>
        An endless running game where a square hops over other stuff.
    </description>
    <author email="cobb.evan+squareSquared@gmail.com" href="http://icbat.github.io">
        Evan "icbat" Cobb
    </author>
    <content src="index.html"/>
    <platform name="android">
    </platform>
</widget>
